
## <summary>policy for asacoin</summary>


########################################
## <summary>
##	Transition to asacoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`asacoin_domtrans',`
	gen_require(`
		type asacoin_t, asacoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, asacoin_exec_t, asacoin_t)
')


########################################
## <summary>
##	Execute asacoin server in the asacoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`asacoin_initrc_domtrans',`
	gen_require(`
		type asacoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, asacoin_initrc_exec_t)
')


########################################
## <summary>
##	Search asacoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`asacoin_search_lib',`
	gen_require(`
		type asacoin_var_lib_t;
	')

	allow $1 asacoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read asacoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`asacoin_read_lib_files',`
	gen_require(`
		type asacoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, asacoin_var_lib_t, asacoin_var_lib_t)
')

########################################
## <summary>
##	Manage asacoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`asacoin_manage_lib_files',`
	gen_require(`
		type asacoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, asacoin_var_lib_t, asacoin_var_lib_t)
')

########################################
## <summary>
##	Manage asacoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`asacoin_manage_lib_dirs',`
	gen_require(`
		type asacoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, asacoin_var_lib_t, asacoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a asacoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`asacoin_admin',`
	gen_require(`
		type asacoin_t;
		type asacoin_initrc_exec_t;
		type asacoin_var_lib_t;
	')

	allow $1 asacoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, asacoin_t)

	asacoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 asacoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, asacoin_var_lib_t)

')

