# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=ASA Core
Comment=ASA Core QT main network
GenericName=ASA Digital Currency QT client main network
Exec=asacoin-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/asacoin.png
MimeType=x-scheme-handler/asacoin;
Categories=X-Office;X-Finance;
Keywords=internet;asacoin;bib;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;
Version=1.0
